In [5]:
import warnings
warnings.simplefilter('ignore')

import pandas as pd

df = pd.read_csv('s3://ia340-2025-35102/Crime.csv') # Load the daa from s3
df.head() #show the top 5 rows

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201194204,2305,180031343,06/25/2018 07:03:12 PM,06/22/2018 06:00:00 PM,06/22/2018 08:00:00 PM,23F,1,Crime Against Property,Theft From Motor Vehicle,...,546,19200.0,NaN,WATKINS MILL,NaN,RD,39.17057,-77.2089,6D,"(39.1706, -77.2089)"
1,201192754,3562,180029527,06/15/2018 09:28:52 AM,06/15/2018 09:28:00 AM,06/15/2018 09:28:00 AM,35A,1,Crime Against Society,Drug/Narcotic Violations,...,391,17000.0,NaN,BATCHELLORS FOREST,NaN,RD,39.13580,-77.0453,4D,"(39.1358, -77.0453)"
2,201197266,5404,180035053,07/15/2018 10:14:12 PM,07/15/2018 10:14:00 PM,07/15/2018 11:45:00 PM,90D,1,Crime Against Society,Driving Under the Influence,...,336,NaN,NaN,WELLER,NaN,RD,39.06421,-77.0690,4D,"(39.0642, -77.069)"
3,201197538,2399,180035451,07/17/2018 10:11:04 PM,07/17/2018 01:40:00 PM,07/17/2018 02:20:00 PM,23H,1,Crime Against Property,All other Larceny,...,594,NaN,NaN,CLOPPER,NaN,RD,39.14830,-77.2377,5D,"(39.1483, -77.2377)"
4,201194239,1399,180031372,06/25/2018 10:14:39 PM,06/25/2018 10:14:00 PM,NaN,13B,1,Crime Against Person,Simple Assault,...,447,12600.0,NaN,GREY EAGLE,NaN,CT,39.16706,-77.2635,5D,"(39.1671, -77.2635)"

In [6]:
df.shape #shows number of rows and columns #457140 rows, 30 columns

(457140, 30)

In [10]:
df ['Offence Code'] #select column of Offence Code

0         2305
1         3562
2         5404
3         2399
4         1399
          ...
457135    1399
457136    3699
457137    9113
457138    5404
457139    1399
Name: Offence Code, Length: 457140, dtype: object

In [11]:
df.sort_values(by='CR Number') #sort by variable of CR Number

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
56550,201123928,9108,10011074,NaN,03/06/2017 01:00:00 PM,03/06/2017 01:00:00 PM,90Z,1,Crime Against Society,All Other Offenses,...,534,14300.0,NaN,GEORGIA,NaN,AVE,39.09053,-77.0799,4D,"(39.0905, -77.0799)"
235139,201097962,2305,10046679,NaN,09/11/2016 10:00:00 PM,09/12/2016 06:00:00 AM,23F,1,Crime Against Property,Theft From Motor Vehicle,...,001,6200.0,NaN,RIDGE,NaN,DR,38.94089,-77.1210,2D,"(38.9409, -77.121)"
243306,201105753,1199,11000193,NaN,11/02/2016 11:01:00 PM,NaN,11D,1,Crime Against Person,Forcible Fondling,...,597,22800.0,NaN,WHELAN,NaN,LA,39.22986,-77.2881,5D,"(39.2299, -77.2881)"
63625,201136795,2303,11046201,NaN,05/31/2017 03:15:00 PM,05/31/2017 03:30:00 PM,23C,1,Crime Against Property,Shoplifting,...,266,1600.0,NaN,ROCKVILLE,NaN,PIK,39.06279,-77.1247,1D,"(39.0628, -77.1247)"
425405,201381596,9199,12027588,NaN,06/15/2021 12:00:00 AM,NaN,90Z,1,Crime Against Society,All Other Offenses,...,349,2200.0,NaN,BEL PRE,NaN,RD,39.09053,-77.0465,4D,"(39.0905, -77.0465)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
457121,201541705,2303,250037873,08/24/2025 06:02:00 PM,08/24/2025 06:02:00 PM,NaN,23C,1,Crime Against Property,Shoplifting,...,665,7200.0,NaN,MUNCASTER MILL,NaN,RD,39.14562,-77.1439,6D,"(39.1456, -77.1439)"
457097,201541711,1313,250037874,08/24/2025 05:56:49 PM,08/24/2025 05:56:00 PM,NaN,13B,1,Crime Against Person,Simple Assault,...,145,11400.0,NaN,LOCKWOOD,NaN,DR,39.04098,-76.9876,3D,"(39.041, -76.9876)"
457083,201541712,2309,250037887,08/24/2025 08:30:55 PM,08/24/2025 08:30:00 PM,NaN,23H,1,Crime Against Property,All other Larceny,...,802,6400.0,NaN,5TH,NaN,AVE,0.00000,0.0000,TPPD,"(0.0, 0.0)"
457065,201541719,4104,250037890,08/24/2025 08:56:45 PM,08/24/2025 08:56:00 PM,08/24/2025 12:00:00 AM,90G,1,Crime Against Society,Liquor Law Violations,...,505,9600.0,NaN,LOST KNIFE,NaN,RD,39.15237,-77.1983,6D,"(39.1524, -77.1983)"
353290,201518834,9062,250057506,NaN,02/28/2025 09:00:00 AM,NaN,90Z,1,Crime Against Society,All Other Offenses,...,228,1300.0,NaN,SEVEN LOCKS,NaN,RD,39.06691,-77.1616,1D,"(39.0669, -77.1616)"

In [12]:
df[0:5] #slice by rows

,Incident ID,Offence Code,CR Number,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201194204,2305,180031343,06/25/2018 07:03:12 PM,06/22/2018 06:00:00 PM,06/22/2018 08:00:00 PM,23F,1,Crime Against Property,Theft From Motor Vehicle,...,546,19200.0,NaN,WATKINS MILL,NaN,RD,39.17057,-77.2089,6D,"(39.1706, -77.2089)"
1,201192754,3562,180029527,06/15/2018 09:28:52 AM,06/15/2018 09:28:00 AM,06/15/2018 09:28:00 AM,35A,1,Crime Against Society,Drug/Narcotic Violations,...,391,17000.0,NaN,BATCHELLORS FOREST,NaN,RD,39.13580,-77.0453,4D,"(39.1358, -77.0453)"
2,201197266,5404,180035053,07/15/2018 10:14:12 PM,07/15/2018 10:14:00 PM,07/15/2018 11:45:00 PM,90D,1,Crime Against Society,Driving Under the Influence,...,336,NaN,NaN,WELLER,NaN,RD,39.06421,-77.0690,4D,"(39.0642, -77.069)"
3,201197538,2399,180035451,07/17/2018 10:11:04 PM,07/17/2018 01:40:00 PM,07/17/2018 02:20:00 PM,23H,1,Crime Against Property,All other Larceny,...,594,NaN,NaN,CLOPPER,NaN,RD,39.14830,-77.2377,5D,"(39.1483, -77.2377)"
4,201194239,1399,180031372,06/25/2018 10:14:39 PM,06/25/2018 10:14:00 PM,NaN,13B,1,Crime Against Person,Simple Assault,...,447,12600.0,NaN,GREY EAGLE,NaN,CT,39.16706,-77.2635,5D,"(39.1671, -77.2635)"

In [15]:
df.info() #shows data types and number of null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457140 entries, 0 to 457139
Data columns (total 30 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Incident ID             457140 non-null  int64
 1   Offence Code            457140 non-null  object
 2   CR Number               457140 non-null  int64
 3   Dispatch Date / Time    391090 non-null  object
 4   Start_Date_Time         457140 non-null  object
 5   End_Date_Time           206640 non-null  object
 6   NIBRS Code              457140 non-null  object
 7   Victims                 457140 non-null  int64
 8   Crime Name1             457140 non-null  object
 9   Crime Name2             457140 non-null  object
 10  Crime Name3             457140 non-null  object
 11  Police District Name    455787 non-null  object
 12  Block Address           420535 non-null  object
 13  City                    457101 non-null  object
 14  State                   447637 non-null  object
 15  Zip Code                453770 non-null  float64
 16  Agency                  457140 non-null  object
 17  Place                   457140 non-null  object
 18  Sector                  457140 non-null  object
 19  Beat                    457140 non-null  object
 20  PRA                     457131 non-null  object
 21  Address Number          420675 non-null  float64
 22  Street Prefix           20612 non-null   object
 23  Street Name             455864 non-null  object
 24  Street Suffix           6252 non-null    object
 25  Street Type             455478 non-null  object
 26  Latitude                457140 non-null  float64
 27  Longitude               457140 non-null  float64
 28  Police District Number  457140 non-null  object
 29  Location                457140 non-null  object
dtypes: float64(4), int64(3), object(23)
memory usage: 104.6+ MB

In [16]:
df.describe() #statistical summary of data

,Incident ID,CR Number,Victims,Zip Code,Address Number,Latitude,Longitude
count,4.571400e+05,4.571400e+05,457140.000000,453770.000000,4.206750e+05,457140.000000,457140.000000
mean,2.013111e+08,1.910913e+08,1.021766,20876.799160,8.366502e+03,37.628175,-74.246901
std,1.302001e+05,5.991453e+07,0.185011,139.911311,1.601724e+04,7.395859,14.592960
min,2.010871e+08,1.001107e+07,1.000000,6.000000,0.000000e+00,0.000000,-77.516700
25%,2.011990e+08,1.800369e+08,1.000000,20853.000000,1.600000e+03,39.017520,-77.197100
50%,2.013086e+08,2.000436e+08,1.000000,20878.000000,8.100000e+03,39.071080,-77.098700
75%,2.014206e+08,2.300157e+08,1.000000,20904.000000,1.240000e+04,39.141220,-77.027000
max,2.015417e+08,2.500575e+08,22.000000,29882.000000,2.090600e+06,39.351240,0.000000

In [23]:
#rename columns
df = df.rename(columns={"CR Number": "CR Num"})
df.head()
#renamed the column CR Number to CR Num

,Incident ID,Offence Code,CR Num,Dispatch Date / Time,Start_Date_Time,End_Date_Time,NIBRS Code,Victims,Crime Name1,Crime Name2,...,PRA,Address Number,Street Prefix,Street Name,Street Suffix,Street Type,Latitude,Longitude,Police District Number,Location
0,201194204,2305,180031343,06/25/2018 07:03:12 PM,06/22/2018 06:00:00 PM,06/22/2018 08:00:00 PM,23F,1,Crime Against Property,Theft From Motor Vehicle,...,546,19200.0,NaN,WATKINS MILL,NaN,RD,39.17057,-77.2089,6D,"(39.1706, -77.2089)"
1,201192754,3562,180029527,06/15/2018 09:28:52 AM,06/15/2018 09:28:00 AM,06/15/2018 09:28:00 AM,35A,1,Crime Against Society,Drug/Narcotic Violations,...,391,17000.0,NaN,BATCHELLORS FOREST,NaN,RD,39.13580,-77.0453,4D,"(39.1358, -77.0453)"
2,201197266,5404,180035053,07/15/2018 10:14:12 PM,07/15/2018 10:14:00 PM,07/15/2018 11:45:00 PM,90D,1,Crime Against Society,Driving Under the Influence,...,336,NaN,NaN,WELLER,NaN,RD,39.06421,-77.0690,4D,"(39.0642, -77.069)"
3,201197538,2399,180035451,07/17/2018 10:11:04 PM,07/17/2018 01:40:00 PM,07/17/2018 02:20:00 PM,23H,1,Crime Against Property,All other Larceny,...,594,NaN,NaN,CLOPPER,NaN,RD,39.14830,-77.2377,5D,"(39.1483, -77.2377)"
4,201194239,1399,180031372,06/25/2018 10:14:39 PM,06/25/2018 10:14:00 PM,NaN,13B,1,Crime Against Person,Simple Assault,...,447,12600.0,NaN,GREY EAGLE,NaN,CT,39.16706,-77.2635,5D,"(39.1671, -77.2635)"

In [26]:
df.isnull().sum() #number of rows containing null value
#1287269 rows containing null values

Incident ID                    0
Offence Code                   0
CR Num                         0
Dispatch Date / Time       66050
Start_Date_Time                0
End_Date_Time             250500
NIBRS Code                     0
Victims                        0
Crime Name1                    0
Crime Name2                    0
Crime Name3                    0
Police District Name        1353
Block Address              36605
City                          39
State                       9503
Zip Code                    3370
Agency                         0
Place                          0
Sector                         0
Beat                           0
PRA                            9
Address Number             36465
Street Prefix             436528
Street Name                 1276
Street Suffix             450888
Street Type                 1662
Latitude                       0
Longitude                      0
Police District Number         0
Location                       0
dtype: int64

In [27]:
df = df.dropna() #drop null values
df.isnull().sum()

Incident ID               0
Offence Code              0
CR Num                    0
Dispatch Date / Time      0
Start_Date_Time           0
End_Date_Time             0
NIBRS Code                0
Victims                   0
Crime Name1               0
Crime Name2               0
Crime Name3               0
Police District Name      0
Block Address             0
City                      0
State                     0
Zip Code                  0
Agency                    0
Place                     0
Sector                    0
Beat                      0
PRA                       0
Address Number            0
Street Prefix             0
Street Name               0
Street Suffix             0
Street Type               0
Latitude                  0
Longitude                 0
Police District Number    0
Location                  0
dtype: int64

In [35]:
df['Crime Name1'].value_counts() #show the count of unique values

Series([], Name: count, dtype: int64)